outputs/
.hypothesis/
__pycache__/

.env
.venv/
venv/


# Large folders / datasets
dataset/
Storage/
Bag/
Door/
Microwave/
Mug/
Scissors/
Table/
mask_outputs/
object/
rule/

# Experiment outputs
ScreenCamera_*.json
ScreenCapture_*.png
*.npy
*.ply
*.glb
*.obj
*.csv


